@import "tailwindcss";


html,
body {
  height: 100%;
}

body {
  background: #F3F3F3;
  font-family: "Lato", sans-serif;
}


::-webkit-scrollbar {
  display: none;
}



.container-page {
  padding-left: clamp(20px, 6vw, 120px);
  padding-right: clamp(20px, 6vw, 120px);
}
.heading-font {
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 0.02em;
}

.body-font {
  font-family: "Lato", sans-serif;
}


.btn {
  padding: 12px 40px;
  border-radius: 10px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  transition: all 0.3s ease;
}


.btn-primary {
  background: #6C081F;
  color: white;
}


.btn-outline-light {
  border: 1px solid #F2DDDC;
  color: #F2DDDC;
}


.btn-light {
  background: #F2DDDC;
  color: #6C081F;
}


.btn-soft {
  background: #F2AEBD;
  color: #6C081F;
}


.btn-outline-dark {
  border: 1px solid #6C081F;
  color: #6C081F;
}


.btn-primary:hover {
  background: #520615;
}

.btn-light:hover {
  background: #e8c9c7;
}

.btn-soft:hover {
  background: #e59eae;
}